{% extends 'base.html' %}


{% block content %}
    <div class="d-flex mx-auto pt-5" style="width: 40%;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">ID</th>
            </tr>
            </thead>
            <tbody id="addMe">
            </tbody>
        </table>
    </div>
    <button class="text-center btn btn-primary d-block mx-auto mt-3"
            hx-get="{% url 'core:replace' %}"
            hx-target="#addMe"
            hx-swap="beforeend">
        Adicionar pessoa...
    </button>
{% endblock %}