{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div id="content">
        <div class="mx-auto pt-5" style="width: 50%;">
            <div id="filme-form">
                <form hx-post="{% url 'core:create_filme' %}" hx-target="#filme-list" class="d-flex align-items-center">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="ms-2 mt-3 btn btn-primary">
                        Adicionar
                    </button>
                </form>
            </div>
            <div>
                <table class="table mt-5">
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Diretor</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Gerenciar</th>
                    </tr>
                    </thead>
                    <tbody id="filme-list">
                    {% include 'exemplo2/filme-list.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}